#-------------------------------------------------------------------------------
# This file contains engine python requirement version pins.
# Changing versions might have side effects!
#
# An important point to highlight here is that this file contains all the
# dependencies that is potentially needed for various combinations and
# scenarios supported by the framework. This means that we might be installing
# some unnecessary dependencies for the scenarios supported by the framework
# by collecting everything in one place. An example to this is installing
# libvirt dependencies that are not actually needed for cloud/heat based
# deployments and vice versa. However, this is a very small cost comparing the
# benefits we get such as having ability to list, manage, and install python
# packages in one place or for pinning versions to ensure reproducibility.
# If we see the need to adjust and limit the packages we need to install
# dependending on the scenario, we can fine tune what is installed where by
# introducing additional requirements files.
#
# Finally, this list currently only contains the dependencies required for
# the engine itself meaning that the dependencies required for scenarios that
# are developed in swconfig repo is not part of the file. They will be included
# and controlled using this file over time once the basics are in place.
#-------------------------------------------------------------------------------

# NOTE: engine top level requirements
alembic==1.1.0
amqp==2.5.2
ansible==2.7.8
appdirs==1.4.3
asn1crypto==0.24.0
attrs==19.1.0
automaton==1.17.0
Babel==2.7.0
bcrypt==3.1.7
beautifulsoup4==4.8.0
bindep==2.8.1
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cliff==2.16.0
cmd2==0.8.9
configparser==4.0.2
construct==2.8.22
cryptography==2.7
debtcollector==1.22.0
decorator==4.4.0
dictdiffer==0.8.1
diskimage-builder==2.33.0
distro==1.4.0
dnspython==1.15.0
docker==4.2.0
dogpile.cache==0.7.1
eventlet==0.25.1
extras==1.0.0
fasteners==0.14.1
fixtures==3.0.0
flake8==2.6.2
Flask==1.1.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Frozen-Flask==0.15
futurist==1.9.0
gitdb2==3.0.2
GitPython==3.0.8
google-auth==1.11.2
greenlet==0.4.15
hacking==1.1.0
idna==2.8
ifaddr==0.1.6
importlib-metadata==0.20
ironic==13.0.2
ironic-inspector==10.0.0
ironic-lib==2.21.0
ironic-python-agent-builder==1.1.0
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
jsonpatch==1.24
jsonpath-rw==1.4.0
jsonpointer==2.0
jsonschema==3.0.2
junit-xml==1.8
keystoneauth1==3.17.1
keystonemiddleware==7.0.1
kolla==9.0.0
kolla-ansible==9.0.0
kombu==4.6.6
kubernetes==10.0.1
libvirt-python==5.10.0
linecache2==1.0.0
logutils==0.3.5
lxml==4.4.2
Mako==1.1.0
MarkupSafe==1.1.1
mccabe==0.5.3
monotonic==1.5
more-itertools==7.2.0
msgpack==0.6.1
munch==2.3.2
netaddr==0.7.19
netifaces==0.10.9
networkx==2.4
oauthlib==3.1.0
openshift==0.10.1
openstacksdk==0.36.1
os-client-config==1.33.0
os-service-types==1.7.0
os-traits==0.16.0
osc-lib==1.14.1
oslo.cache==1.37.0
oslo.concurrency==3.30.0
oslo.config==6.11.2
oslo.context==2.23.0
oslo.db==5.0.2
oslo.i18n==3.24.0
oslo.log==3.44.1
oslo.messaging==10.2.0
oslo.middleware==3.38.1
oslo.policy==2.3.3
oslo.reports==1.30.0
oslo.rootwrap==5.16.1
oslo.serialization==2.29.2
oslo.service==1.40.2
oslo.upgradecheck==0.3.2
oslo.utils==3.41.4
oslo.versionedobjects==1.36.1
osprofiler==2.8.2
paramiko==2.7.1
Parsley==1.3
Paste==3.2.0
PasteDeploy==2.0.1
pbr==5.4.3
pecan==1.3.3
pip==20.0.1
ply==3.11
prettytable==0.7.2
proliantutils==2.8.4
psutil==5.6.3
pyasn1==0.4.7
pyasn1-modules==0.2.8
pycadf==2.10.0
pycodestyle==2.0.0
pycparser==2.19
pycryptodomex==3.9.0
pyfakefs==3.7.1
pyflakes==1.2.3
pyghmi==1.4.1
Pygments==2.5.2
pyinotify==0.9.6
PyMySQL==0.9.3
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyperclip==1.7.0
pyrsistent==0.15.4
pysendfile==2.0.1
pysmi==0.3.4
pysnmp==4.4.11
python-cinderclient==5.0.0
python-dateutil==2.8.0
python-editor==1.0.4
python-glanceclient==2.17.0
python-heatclient==1.18.0
python-ironic-inspector-client==3.7.0
python-ironicclient==3.1.1
python-keystoneclient==3.21.0
python-mimeparse==1.6.0
python-neutronclient==6.14.0
python-novaclient==15.1.0
python-openstackclient==4.0.0
python-string-utils==0.6.0
python-subunit==1.3.0
python-swiftclient==3.8.1
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.1
repoze.lru==0.7
reno==3.0.0
requests==2.22.0
requests-oauthlib==1.3.0
requestsexceptions==1.4.0
retrying==1.3.3
rfc3986==1.3.2
Routes==2.4.1
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
setuptools==44.0.0
shade==1.32.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
smmap2==2.0.5
soupsieve==1.9.3
SQLAlchemy==1.3.8
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
statsd==3.3.0
stevedore==1.31.0
sushy==2.0.2
Tempita==0.5.2
tenacity==5.1.1
testresources==2.0.1
testscenarios==0.5.0
testtools==2.3.0
tooz==1.66.2
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.25.3
vine==1.3.0
virtualbmc==1.6.0
virtualenv==16.7.9
voluptuous==0.11.7
waitress==1.3.1
warlock==1.3.3
wcwidth==0.1.7
WebOb==1.8.5
websocket-client==0.57.0
WebTest==2.0.33
Werkzeug==0.15.6
wrapt==1.11.2
WSME==0.9.3
XStatic==1.0.2
XStatic-Bootstrap-SCSS==3.3.7.1
XStatic-DataTables==1.10.15.1
XStatic-jQuery==3.3.1.1
XStatic-Patternfly==3.21.0.1
XStatic-Patternfly-Bootstrap-Treeview==2.1.3.2
yappi==1.0
zeroconf==0.23.0
zipp==0.6.0
# additional requirements that are not used for deployment but for development
# these are not pinned as whatever works
ara[server]
git-review
