{% raw %}
- hosts: baremetal
  name: "Enroll nodes into Ironic"
  become: no
  gather_facts: no
  vars:
    multinode_testing: true
    inventory_dhcp: true
    inventory_dhcp_static_ip: true
{% endraw %}
    network_interface: "{{ engine.pxe_interface }}"
{% raw %}
  roles:
    - role: ironic-enroll-dynamic
      delegate_to: "{{ groups['target'][0] if groups['target'] is defined else 'localhost' }}"
#    - role: ironic-inspect-node
#      delegate_to: "{{ groups['target'][0] if groups['target'] is defined else 'localhost' }}"
  environment:
    http_proxy: "{{ lookup('env','http_proxy') }}"
    https_proxy: "{{ lookup('env','https_proxy') }}"
    no_proxy: "{{ lookup('env','no_proxy') }}"

- hosts: localhost
  connection: local
  become: no
  gather_facts: no
  tasks:
    - name: Get nodes from Ironic
      command: openstack --os-cloud bifrost baremetal node list
      register: ironic_nodes
    - name: List Ironic nodes
      debug:
        msg: "{{ ironic_nodes.stdout_lines }}"

# TODO: this is necessary to install the OS in the correct drive. This workaround can be removed once Ansible v2.8 is released, which will support
# the root_device property in its ironic python module.
- hosts: localhost
  connection: local
  become: no
  gather_facts: no
  tasks:
{% endraw %}
{% for hostname, role in hosts.items() %}
{% set node = nodes | selectattr('name', 'equalto', hostname) | first %}
    - name: Add root_device hints to enrolled ironic nodes
      command: "openstack --os-cloud bifrost baremetal node set {{ role }} --property root_device='{\"size\": \"{{ node.disks[0].disk_capacity.rstrip("G") }}\" }'"
{% endfor %}
