{% raw %}
- hosts: baremetal
  name: "Enroll nodes into Ironic"
  become: no
  gather_facts: no
  vars:
    multinode_testing: true
{% endraw %}
    network_interface: "{{ engine.pxe_interface }}"
{% raw %}
  roles:
    - role: ironic-enroll-dynamic
      delegate_to: "{{ groups['target'][0] if groups['target'] is defined else 'localhost' }}"
#    - role: ironic-inspect-node
#      delegate_to: "{{ groups['target'][0] if groups['target'] is defined else 'localhost' }}"
  environment:
    http_proxy: "{{ lookup('env','http_proxy') }}"
    https_proxy: "{{ lookup('env','https_proxy') }}"
    no_proxy: "{{ lookup('env','no_proxy') }}"
{% endraw %}
