[all:vars]
ansible_ssh_extra_args=' -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'

[baremetal]
# order of nodes is not significant
{% for ip in master_ip.output_value %}
master{{loop.index0}} ansible_host={{ ip }} ip={{ ip }} ansible_become=yes ansible_become_user=root
{% endfor %}
{% for ip in worker_ip.output_value %}
worker{{loop.index0}} ansible_host={{ ip }} ip={{ ip }} ansible_become=yes ansible_become_user=root
{% endfor %}

[localhost]
127.0.0.1 ansible_connection=local ansible_python_interpreter={{ engine_venv }}/bin/python

[kube-master]
{% for ip in master_ip.output_value %}
master{{loop.index0}}
{% endfor %}

[kube-node]
{% for ip in worker_ip.output_value %}
worker{{loop.index0}}
{% endfor %}

[etcd]
{% for ip in master_ip.output_value %}
master{{loop.index0}}
{% endfor %}

[vault]
{% for ip in master_ip.output_value %}
master{{loop.index0}}
{% endfor %}

[k8s-cluster:children]
kube-master
kube-node
