[all:vars]
ansible_ssh_extra_args=' -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
neutron_network={{ idf.net_config.neutron.network }}
neutron_netmask={{ idf.net_config.neutron.mask }}

[baremetal]
{% for node in nodes %}
{% set ansible_host = node.interfaces[idf.net_config[engine.pxe_network].interface].address %}
{% set ip = node.interfaces[idf.net_config[engine.kubespray_network | default('public')].interface].address %}
{% set ansible_hostname = idf[installer_type].hostnames[node.name] %}
{{ ansible_hostname }} ansible_host={{ ansible_host }} ip={{ ip }} ansible_user=root neutron_external_interface={{hostvars[ansible_hostname].neutron_ifname}}
{% endfor %}

[localhost]
127.0.0.1 ansible_connection=local become=true ansible_python_interpreter={{ engine_venv }}/bin/python

[jumphost]
127.0.0.1 ansible_connection=local become=true ansible_python_interpreter={{ engine_venv }}/bin/python

[kube-master]
{% for node in nodes %}
{% if 'kube-master' in idf[installer_type].nodes_roles[node.name] %}
{{ idf[installer_type].hostnames[node.name] }}
{% endif %}
{% endfor %}

[kube-node]
{% for node in nodes %}
{% if 'kube-node' in idf[installer_type].nodes_roles[node.name] %}
{{ idf[installer_type].hostnames[node.name] }}
{% endif %}
{% endfor %}

[etcd]
{% for node in nodes %}
{% if 'etcd' in idf[installer_type].nodes_roles[node.name] %}
{{ idf[installer_type].hostnames[node.name] }}
{% endif %}
{% endfor %}

[vault]
{% for node in nodes %}
{% if 'vault' in idf[installer_type].nodes_roles[node.name] %}
{{ idf[installer_type].hostnames[node.name] }}
{% endif %}
{% endfor %}

[k8s-cluster:children]
kube-master
kube-node
