---
# This file will override Bifrost's default urls for git repositories to
# use local directories during the offline installation.
dib_git_url: {{ engine_cache }}/repos/diskimage-builder
ironicclient_git_url: {{ engine_cache }}/repos/python-ironicclient
openstacksdk_git_url: {{ engine_cache }}/repos/openstacksdk
shade_git_url: {{ engine_cache }}/repos/shade
ironic_git_url: {{ engine_cache }}/repos/ironic
ironicinspector_git_url: {{ engine_cache }}/repos/ironic-inspector
ironicinspectorclient_git_url: {{ engine_cache }}/repos/python-ironic-inspector-client
reqs_git_url: {{ engine_cache }}/repos/requirements
staging_drivers_git_url: {{ engine_cache }}/repos/ironic-staging-drivers
keystone_git_url: {{ engine_cache }}/repos/keystone
sushy_git_url: {{ engine_cache }}/repos/sushy
ipa_git_url: {{ engine_cache }}/repos/ironic-python-agent
ipa_builder_git_url: {{ engine_cache }}/repos/ironic-python-agent-builder
