# ============LICENSE_START=======================================================
#  Copyright (C) 2019 The Nordix Foundation. All rights reserved.
# ================================================================================
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0
# ============LICENSE_END=========================================================

apiVersion: ceph.rook.io/v1
kind: CephBlockPool
metadata:
  name: "{{ rook_block_pool_name }}"
  namespace: "{{ rook_cluster_namespace }}"
spec:
  # The failure domain will spread the replicas of the data across different failure zones
  failureDomain: osd
  # The root of the crush hierarchy that will be used for the pool. If not set, will use "default".
  crushRoot: default
  # For a pool based on raw copies, specify the number of copies. A size of 1 indicates no redundancy.
  replicated:
    size: {{ rook_block_pool_replicas }}
  # For an erasure-coded pool, comment out the replicated size above and uncomment the following settings.
  # Make sure you have enough OSDs to support the replica size or sum of the erasure coding and data chunks.
  #erasureCoded:
  #  dataChunks: 2
  #  codingChunks: 1
